*{
    box-sizing: border-box;
    padding: 0;
    margin:0;

}
body{
    background-color: white;
}
header{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #302e2e;
    display: flex;
    /*ensures that the name and the menu is seperated*/
    justify-content: space-between;
    position:sticky;
}
header nav{
    padding-top: 15px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #40E0D0;
    
}
.flex-item span{
    width: 50%;
    padding: 5px 5px 5px;
    background-color: #40E0D0;
    margin: auto;
}
header nav ul{
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 25px;
   
}
a{
    color: #40E0D0;
    
}
.flex-item{
    font-size: 40px;
    font-weight: bold;
    
}
.hero{
    background-image: url('../assets/images/pexels-james-wheeler-417074.jpg');
    background-size: cover;
    display:flex;
    justify-content:flex-end;
    flex-wrap:wrap;
    background-attachment:fixed;
    background-position: 100%;
    font-family: Arial, Helvetica, sans-serif;
   
    
}
.hero-cta{
    width:55%;
    text-align: right;
    margin:4%;
    font-size:18px;
    line-height:3.0;
   
}
.hero-cta span{
    width:40%;
    padding: 10px 8px 20px;
    background-color:#40E0D0 ;
    color: #302e2e;
    font-weight: bold;
    font-size: 20px;
    align-items:center;
    
}
.flex-row{
    display:flex;
}

.section-title{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 30px;
        display:flex;
        flex-wrap: wrap;
        color:#2633ad;
        padding: 20px;
        /*makes sure the second word starts at the end*/
        text-align: end;
       
         
}

.Personal-info{
    font-size: 16px;
    line-height: 1.5;
    color: rgb(107, 108, 109);
    
    margin: 30px 0;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    border-left: 5px solid #2633ad;
    padding: 0 0 0 20px;
  

}
#about-me{
    margin:0 auto;
    width: 80%;
}
#work{
    margin:0 auto;
    width:80%;
}
.run-buddy{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}
.run-buddy img{
    border: 1px solid #40E0D0;
    width:100%;
    display:flex;
    display:wrap;
    justify-content:space-around;
}
.run-buddy span{
    width:15%;
    padding: 10px 8px 20px;
    background-color: gray;
    color: #302e2e;
    font-weight: bold;
    font-size: 20px;
    align-items:center;

}






