*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
  }

header{
    padding: 20px;
    background-color: #302e2e;
    display: flex;
    /*ensures that the name and the menu is seperated*/
    justify-content: space-between;
    position:sticky;
}
header nav{
    padding-top: 15px;
    margin-right: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #40E0D0;
    
}
.flex-item span{
    width: 50%;
    padding: 5px 45px 5px;
    background-color: #40E0D0;
    margin: auto;
    text-align:right;
}
header nav ul{
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 25px;
   
}
.links{
    color: #40E0D0;
    
}
a:visited{
    color: #40E0D0

}

.flex-item{
    font-size: 40px;
    font-weight: bold;
    
}
.hero{
    background-image: url('../assets/images/pexels-james-wheeler-417074.jpg');
    background-size: cover;
    display:flex;
    justify-content:flex-end;
    flex-wrap:wrap;
    background-attachment:fixed;
    background-position: 100%;
    font-family: Helvetica, Arial, sans-serif;
   
    
}
.hero-cta{
    width:55%;
    text-align: right;
    margin:4%;
    font-size:18px;
    line-height:3.0;
   
}
.hero-cta span{
    width:40%;
    padding: 10px 8px 20px;
    background-color:#40E0D0 ;
    color: #302e2e;
    font-weight: bold;
    font-size: 20px;
    align-items:center;
    
}
.flex-row{
    display:flex;
    /*flex-wrap: wrap;
   /* justify-content: space-between;*/
}

.section-title{
        font-weight: bold;
        font-size: 30px;
        display:flex;
        flex-wrap: wrap;
        color:#2633ad;
        padding: 20px 20px;
        /*makes sure the second word starts at the end*/
        text-align:end;
        border-right: 5px solid #2633ad; 
        width:15%;
        justify-content:flex-end;
        
         
}
.img-headshot{
    width: 150px; 
    height:200px;
    background-image: url(../assets/images/Headshot.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
    margin: 5px auto;
   
}

.personal-info{
    font-size: 16px;
    line-height: 1.5;
    color: rgb(107, 108, 109);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 0 0 0 20px;
  

}
#about-me, #contact-me, #work{
    margin:50px auto;
    width: 80%;
}

.work-container{
    /*margin: 0 auto;*/
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 0 0 0 20px;
    


    
}
.work img{
    border: 1px solid #40E0D0;
    width:100%;
    display:flex;
    display:wrap;
    justify-content:space-around;
    flex: 1;
    
}
.work-title{
    width:80%;
    padding: 10px 0 20px;
    background-color: gray;
    color:#38393b;
    font-weight: bold;
    font-size: 15px;
    align-items:center;
    margin: 0  15px 15px 0;

}

.contact-info{
   

    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 0 0 0 20px;
    
}
.contact-info ul{
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    list-style: none;
}
.contact-info ul li{
    display: inline-block;
    margin-left: 50px;
    color:#2633ad;
    padding: 20px 20px 50px 15px;
    
   
}
.work{
    width:49%;
    height:200px;
    margin: 5px 0;
    border: 5px solid turquoise;
    display:flex;
    align-items:flex-end;
    
}
.run-buddy{
    background-image: url('./images/Run Buddy Image.png');
    width: 100%;
    height: 400px;
    display:flex;
    align-items:flex-end;
    background-size: 100% 100%; 
 
}
.horiseon{
    background-image:url('./images/Horiseon IMG.png'); 
    display:flex;
    align-items:flex-end;
    background-size: 100% 100%; 
}
.movie-analytics{
    background-image:url('./images/pexels-felix-mittermeier-956981.jpg');
}
.placeholder-1{
    background-image: url('images/pexels-pixabay-220067.jpg');
}
.placeholder-2{
    background-image: url('./images/pexels-pixabay-247671.jpg');
}
.content{
    width: 75%;
}

/*Media Query for resizing*/
/*Smaller desktops 980px to 769px*/
@media screen and (max-width: 980px){
    .flex-item{
        font-size: 25px;
    }
    /* how do I change the nav font*/
    .header nav{
        font-size: 10px;

    }
    .hero-cta span{
        font-size:15px;
    }
    .run-buddy{
       background-image:70% 70%;
       height: 300px;
    }
    .work{
        height: 135px; 
    }
   .work-title{
       font-size: 10px;
       margin: 0 0 0 0;
       background-color:transparent;
       color:rgb(0, 204, 255);
   }
   

   .contact-info{
       font-size: 12px;   
   } 
   .contact-info ul li{
    
    margin-left: 20px;
   }
}
  

/*Media Query for smaller IPAD from 769px to 575px*/
   @media screen and (max-width:769px){
    .flex-item{
        font-size: 15px;
        width: 40%;  
    } 
    .flex-item span{
        padding: 5px 20px 5px 5px;
    }
    /*resizing not working*/
    header nav{
        font-size: 10px;
    }
    /*not working*/
    .hero-cta{
        width: 70%;
        font-size: 10px;
    }
    .hero-cta span{
        background-color: transparent;
        color:turquoise; 
    }
    .img-headshot{
        width: 100px;
        height:150px;
    }
    .section-title{
        font-size: 15px;
        padding: 15px 15px;
        border-right: 3px solid #2633ad;
    }
    .personal-info{
        font-size: 12px;
        margin: 0 0;
    }
    .contact-info{
        padding: 0 0 0 0;
        font-size: 10px;
    }
    .contact-info ul li{
        padding: 15px 10px 50px 15px;
    }
   }
    /*media query 575 and less*/
    @media screen and (max-width: 575px){
        .hero-cta span{
            font-size: 10px;
        }
        .work-title{
            padding: 0 0;
            font-size: 5px;
        }
        .work{
            height: 65px;
            
        }
        .section-title{
            font-size: 10px;
        }
        .personal-info{
            font-size: 8px;
        }
        .contact-info{
            font-size: 8px;
        }
        .contact-info ul li{
            padding: 20px 0 50px 0;
        }
        .img-headshot{
            background-size: 80%;
        }
    }



/*How to do the resizing*/